<div class="row">
    <h2>Proyectos</h2>
    
    <div class="col-sm-8 lista-proyectos">
        <ul>
            <li>
                <h3>Proyecto Portfolio</h3>
                <p>Proyecto Portfolio para Argentina Programa</p>
            </li>
            <img>
        </ul>

        <ul>
            <li>
                <h3>Encriptador de textos</h3>
                <p>Aplicación web para encriptar y desencriptar textos cortos</p>
            </li>
            <img>
        </ul>

        <ul>
            <li>
                <h3>Página modelo - Barbería</h3>
                <p>Página modelo de Barbería con productos y contacto</p>
            </li>
            <img>
        </ul>

</div>