<div class="row">
    <h2>Proyectos</h2>
    
    <div class="lista-proyectos">
        <ul>
            <li class="lista-proyectos-item">
                <a href="https://github.com/karenhan2022/Proyecto"><h3>Proyecto Portfolio</h3></a>
                <p>Proyecto Portfolio para Argentina Programa</p>
            </li>
            <a href="https://github.com/karenhan2022/Proyecto"><img src="../../../assets/portfolio.jpg" class="thumb" alt="Imagen del Proyecto Portfolio"></a>
        </ul>

        <ul>
            <li class="lista-proyectos-item">
                <a href="https://github.com/karenhan2022/Encriptador"><h3>Encriptador de textos</h3></a>
                <p>Aplicación web para encriptar y desencriptar textos cortos</p>
            </li>
            <a href="https://github.com/karenhan2022/Encriptador"><img src="../../../assets/encriptador.jpg" class="thumb" alt="Imagen del Encriptador de Textos"></a>
        </ul>

        <ul>
            <li class="lista-proyectos-item">
                <a href="https://github.com/karenhan2022/Barberia"><h3>Página modelo - Barbería</h3></a>
                <p>Página modelo de Barbería con productos y contacto</p>
            </li>
            <a href="https://github.com/karenhan2022/Barberia"><img src="../../../assets/barberia.jpg" class="thumb" alt="Imagen del Sitio Barbería"></a>
        </ul>

</div>