<div>
    <a href="https://www.github.com"><img src="../../../assets/github.png" id="bgc" alt="Github"></a>
    <a href="https://www.linked.in/"><img src="../../../assets/linkedin.png" id="bgc" alt="Linkedin"></a>
    <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" id="bgc" alt="Facebook"></a>
    <a href="https://www.instagram.com"><img src="../../../assets/instagram.png" id="bgc" alt="Instagram"></a>
    <a href="https://www.twitter.com"><img src="../../../assets/twitter.jpg" id="bgc" alt="Twitter"></a>
    </div>
