.row {
    width: 100%;
    padding: 40px;
    margin-left: 0px;
    background-color: white;
}



.photo {
    width: 80%;
    border: 5px solid darkkhaki;
    border-radius: 10%;
    margin-left: 10%;
   
    
}

.photo:hover {
    transform: rotate(50deg);
    
}

.photo:active {
    image-rendering:pixelated;
}

.name {
    align-items: center;
    margin-left: 3%;
}

.fs {
    margin: 3%; 
}

.name p {
    margin-left: 3%;
}
.about p {
    font-size: 1em;

}

.sobre {
    position: static;
   
}


/* mobile view */

@media (max-width: 678px) {

div{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    width: 50%;
}

.name {
    margin: 20px;
}

.fs {
    font-size: 1.4em;
}

.p {
    font-size: medium;
}
}
