.row {
    width: 100%;
    padding: 30px;
    margin-left: 40px;
    background-color:whitesmoke;
}

div {
    background-color: whitesmoke;
}

.photo {
    width: 100%;
    border-radius: 50%;
    
}

.photo:hover {
    transform: rotate(50deg);
    
}

.photo:active {
    image-rendering:pixelated;
}
.name {
    font-size: 30px;
    font-weight: bold ;
    margin-top: 50% 0%;
    margin-left: 10%;
}

.fs {
    font-size: 25px;
    font-weight: bold ;
    margin-top: 10%;
}

.sobre {
    margin-top: 5%;
}


/* mobile view */

@media (max-width: 678px) {

div{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    width: 50%;
}
}