
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
            <img src="../../../assets/github.png" id="foto" class="photo" alt="Foto de perfil">
        </div>

        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4">
            <h1 class="name">Karen Hansen</h1>
            <h2 class="fs">Full Stack Developer Jr</h2>
        </div>

        <div class="col-xs-8 col-sm-10 col-md-10 col-lg-8">
            <div >
            <h1 class="sobre">Sobre mi</h1>
            <p>Actualmente estoy haciendo cursos de formación en programación web. Me fascina poder crear páginas desde mi computadora. También me interesa mucho la programación de juegos</p>
        </div>


    </div>

