.row {
    width: 100%;
    padding: 30px;
    margin-left: 0px;
    background-color: whitesmoke;
}



.photo {
    width: 20%;
    position: absolute;
    margin: -120px 0px -5px 0;
    background-color:lightgrey;
    border-radius: 10%;
    border: 10px solid white;
    box-shadow: 2px 2px 5px;


    /*
    width: 120%;
    position: relative;
    border: 5px solid darkkhaki;
    border-radius: 10%;
    margin-left: 10%;
   */
    
}

.photo:hover {
    transform: rotate(50deg);
    transform:translate(150%)
    
}

.photo:active {
    image-rendering:pixelated;
}

.name {
    align-items: center;
    color: rgb(87, 83, 87);
}


.sobre {
    position: static;  
}


/* mobile view */

@media (max-width: 678px) {

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;

}

.photo {
    width: 40%;
    position: absolute;
    margin: -60px -10px -5px 0;
}

.name {
    margin: 20px;
}

.fs {
    font-size: 1.4em;
}

.p {
    font-size: medium;
}

.about {
    text-align: center;
}


}
