<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-sm-8">
        <ul>
            <li>
                <h3>Óptica Club</h3>
                <h4>2016 - 2021</h4>

            </li>
            <p>Atención al público y asistente de óptico.</p>


        </ul>

        <ul>
            <li>
                <h3>Teleperformance</h3>
                <h4>2009 - 2014</h4>
            </li>

            <p>Atención al público, venta de servicios.</p>

        </ul>

    </div>

</div>>
