<div class="row">
    <h1>Educación</h1>
    <div class="col-sm-8">
        <ul>
            <li>
                <h3>Argentina Programa #YoProgramo</h3>
                <h4>2022 - 2022</h4>
            </li>
            <p>Programa formación Full Stack Front End.</p>


        </ul>

        <ul>
            <li>
                <h3>Alura - Oracle ONE</h3>
                <h4>2022 - 2022</h4>
            </li>
            <p>Formación en Desarrollo web: HTML5 y CSS3</p>
            <p>Lógica de la programación</p>
            <img src="">

        </ul>

        <ul>
            <li>
                <h3>Argentina Programa #SéProgramar</h3>
                <h4>2021 - 2021</h4>
            </li>
            <p>Fundamentos de la lógica de la programación</p>
            <img src="">

        </ul>

    </div>

</div>>
