<div class="row">

    <h1>Hard & Soft Skills</h1>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [backgroundGradient]="true"
        [backgroundColor]="'#FFFFFF'"
        [backgroundGradientStopColor]="'c0c0c0'"
        [backgroundPadding]="-10"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#61A9DC'"
        [showInnerStroke]="false"
        [showTitle]="true"
        [showSubtitle]="true"
        [subtitle]="'HTML'"
        [subtitleColor]="'#444444'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"

      ></circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


</div>>
