<div class="row">

    <h1>Hard & Soft Skills</h1>

    <div class="row justify-content-evenly">

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-xs-6 col-sm-6 col-md-4 col-lg-4">HTML</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#CE9FF2'"
        [innerStrokeColor]="'#FBD5E4'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [titleFontSize]="'3em'"
        [titleColor]="'primary'"
        [unitsColor]="'444444'"

      ></circle-progress>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-xs-6 col-sm-6 col-md-4 col-lg-4">CSS</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>

    


    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-sm-6 col-md-4 col-lg-4">JavaScript</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-sm-6 col-md-4 col-lg-4">Python</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"

      ></circle-progress>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-sm-6 col-md-4 col-lg-4">English</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3 class="col-sm-6 col-md-4 col-lg-4">GitHub</h3>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        [responsive]="true"
      ></circle-progress>
    </div>
    </div>


</div>>
