<div class="row">

    <h2>Hard & Soft Skills</h2>

    <div class="row justify-content-evenly">

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">HTML
        <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">CSS
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">JavaScript
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">BackEnd
        <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">GitHub
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 circle">English
        <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        [responsive]="true"
        [subtitleColor]="'#BBBBBB'"
        [showSubtitle]="false"
        [showTitle]="true"
        [unitsFontSize]="'1em'"
        [titleFontSize]="'2em'"
        [unitsColor]="'antiquewhite'"
        [titleColor]="'antiquewhite'"
      ></circle-progress>
    </div>

    </div>

</div>
